<div>
    <div ng-show="startChargeReturn.wechatSubscribe != null && !startChargeReturn.wechatSubscribe">
        <div>
            <img style="width: 100%" ng-src="{{startChargeReturn.qrcodeAddress}}">
        </div>
        <h2 style="color: red">
            长按上方二维码,关注微信公众号,可以随时查看我的充电状态,获取充电结束的通知~
        </h2>
    </div>

    <div ng-show="startChargeReturn.wechatSubscribe != null && startChargeReturn.wechatSubscribe">
        <div class="panel panel-info">
            <div class="panel-heading">
                {{deviceCode}}&nbsp;{{startChargeReturn.deviceArea + startChargeReturn.deviceLocation}}{{plugId}}号插座
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    开始时间:&nbsp;{{startChargeReturn.startTime | date:"yyyy-MM-dd HH:mm:ss"}}
                </li>
                <li class="list-group-item">
                    充电限额:&nbsp;{{limitPrice / 100}}元
                </li>
                <li class="list-group-item">
                    账户余额:&nbsp;{{startChargeReturn.customBalance / 100}}元
                </li>
            </ul>
        </div>
    </div>

    <div>
        <em ng-show="errorInfo != null">
            <span class="text-danger">{{errorInfo}}</span>
            <br>
            请稍后再试
        </em>
    </div>
</div>